<!DOCTYPE html>
<html>
<head>
    <title>Get Checkmated</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #d1d1d1;
            padding: 50px;
        }
        .congrats {
            background-color: #66bb6a;
            color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>Get Checkmated</h1>
    <p>(Type "start" to start)</p>
    <form method="post">
        <label for="user_input"> </label>
        <input type="text" name="user_input" id="user_input" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>